/.DS_Store
/.env
/.env.dev
/.env.acc
/.env.prod
/Kooboo
/release
/dist-electron
# Environment-specific metadata files
__metadata.*.json
/node_modules
/dist
/build
*.log
*.tmp
*.swp
*.bak
*.cache
.idea
.vscode
